<h1>Show Task</h1>
<h2><%= @task.name %></h2>
<p><strong>Details:</strong><%= @task.details %></p>
<%= link_to "Back to List", tasks_path%>





















































<style>

  body {
  font-family : "tablet-gothic", verdana, arial, sans-serif;
  }

  div {
  padding : 5%;
  }

  h1 {
  background : #ea2e49;
  color : #fff;
  display : inline-block;
  margin-bottom : 1em;
  padding : 0.5em 1em;
  }

</style>

